<footer class="footer bg-success py-3 text-white text-center">
    <span class="px-2">&copy; NoNo 2021</span>
    <span class="px-2"><a class="link-light" href="https://github.com/diego-rg">diego-rg</a></span>
</footer>