<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NoNo Audiología</title>
</head>
<body>
    <%- body %> <!--Inserta no body o contido de cada páxina e logo usa o resto de boilerplate comoestructura delas-->
</body>
</html>