<% layout("layouts/boilerplate") %>
<section class="d-flex flex-column align-items-center justify-content-center">
    <div class="d-flex flex-column alert alert-danger" role="alert">
        <h4 class="alert-heading text-center"><%= err.message %></h4>
        <h4 class="alert-heading text-center">Error <%= err.status %></h4>
        <img src="/images/bug-error.svg" class="d-block m-auto py-3 img-fluid" width="500px" alt="Trabajador con un martillo delante de una pantalla gigante.">
  </div>
</section>