body { 
    background: url(/images/sound-colors.png) no-repeat center fixed;
    font-family: 'Roboto', sans-serif;
  }

h1 {
    font-size: 4rem;
    font-family: 'Lato', sans-serif;
}

h1 small {
    font-size: 1rem;
}

.bg-success {
    background-color: #a88ece71!important;
}

.btn-success {
    background-color: #a88ece71!important;
    color: black!important;
    border: none;
}

a {
    color:black!important;
}