h1 {
  font-size: 5rem;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
}

h1 small {
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
}

.carousel img {
  height: 35vh;
}

.carousel-caption {
  position: relative;
  left: auto;
  right: auto;
}

.animate__animated.animate__fadeIn {
  animation-duration: 3s;
  animation-delay: 0.25s;
}

@media only screen and (max-width: 992px) {
  h1 {
    font-size: 3rem;
  }
}
