body {
  background: #1e313a;
  background-position: center;
  font-family: "Lora", serif;
  min-height: 100vh;
  display: flex;
  margin: auto;
  flex-direction: row;
  color: white;
  font-size: 1.05rem;
}

.main-container {
  width: calc(100% - 432px);
  min-height: 100vh;
  align-self: center;
}

.btn-dark {
  background-color: white !important;
  color: black;
  border: 1px solid black;
}

.btn-google {
  background-color: #4285f4 !important;
  border: 2px solid #4285f4 !important;
  color: white;
}
.google--logo {
  height: 40px;
  width: 40px;
  background-image: url("../images/google-logo.svg");
  background-size: contain;
}

a {
  color: white !important;
  text-decoration: none;
}

.btn:hover {
  color: black;
  transform: scale(1.02);
  border: 1px solid black;
}

.disabled {
  color: black !important;
}

.card {
  background-color: rgba(255, 255, 255, 0.616);
}

.card-title {
  color: black;
}

h5 {
  font-size: 1.15rem;
}

@media only screen and (max-width: 992px) {
  body {
    width: 100vw !important;
    font-size: 1rem;
    flex-direction: column !important;
  }
  main {
    width: 95vw;
  }
  #audio,
  #image {
    font-size: 0.8rem;
  }
  .main-container {
    width: 100vw;
    min-height: 100vh;
  }
}
