body {
  background: pink;
  color: white;
  font-family: "League Spartan", sans-serif;
  display: flex;
}

.app-container {
  background-color: green;
  max-height: 100vh;
}

main {
  background: #1e313a;
  height: 100vh;
  overflow: scroll;
}

main::-webkit-scrollbar {
  display: none;
}

.btn-dark {
  background-color: #0e7dd5 !important;
  color: white !important;
  border: none;
  font-family: "Libre Baskerville", serif;
}

input {
  font-family: "Libre Baskerville", serif;
}

.btn-google {
  background-color: #0e7dd5 !important;
  border: 2px solid #0e7dd5 !important;
  color: white;
}

.google--logo {
  height: 36px;
  width: 36px;
  background-image: url("../images/google-logo.svg");
  background-size: contain;
}

a {
  color: white !important;
  text-decoration: none;
}

.btn:hover {
  transform: scale(1.02);
}

.card {
  background-color: white;
}

.card-title {
  color: #1e313a;
}

.alert-dismissible {
  max-width: 1000px;
  position: absolute;
  top: 10vh;
}

@media only screen and (max-width: 991px) {
  body {
    display: inherit;
  }
  main {
    overflow: inherit;
    height: auto;
    min-height: 100vh;
  }
  #audio,
  #image {
    font-size: 0.8rem;
  }
  .btn-hidden-sm {
    display: none;
  }
  .alert-dismissible {
    max-width: 84%;
    position: relative;
  }
}
