.navbar {
  background: #0e7dd5;
  height: auto;
  width: 275px;
}

.navbar li {
  padding: 5px 0;
}

.navbar-menu {
  flex-direction: column !important;
}

.nabvar-nav--vertical {
  flex-direction: column !important;
}

.navbar-collapse {
  align-items: flex-end !important;
}

.navbar a {
  font-family: "League Spartan", sans-serif;
  font-size: 1.1rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  padding: 5px;
}

.navbar-collapse a:hover {
  background-color: #0d6dbd;
  transform: scale(1.02);
}

.logo {
  max-width: 100%;
}

.logo-sm {
  display: none;
}

@media only screen and (max-width: 991px) {
  .navbar {
    height: auto;
    width: auto;
  }
  .navbar-menu {
    flex-direction: row !important;
  }
  .navbar a {
    font-size: inherit;
  }
  .logo {
    display: none;
  }
  .logo-sm {
    display: inherit;
    max-width: 35px;
  }
  .brand-text {
    display: none;
  }
}
