.navbar {
  background: #0e7dd5;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 0px 10px;
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
}

.navbar li {
  padding: 5px 0;
}

.navbar-menu {
  flex-direction: column !important;
}

.nabvar-nav--vertical {
  flex-direction: column !important;
}

.navbar-collapse {
  align-items: flex-end !important;
}

.navbar a {
  font-family: "Quattrocento", serif;
  text-transform: uppercase;
  padding: 5px;
}

.navbar-collapse a:hover {
  background-color: #0d6dbd;
  transform: scale(1.02);
}

@media only screen and (max-width: 992px) {
  .navbar {
    position: static;
    height: auto;
  }
  .navbar-menu {
    flex-direction: row !important;
  }
  .logo {
    max-width: 35px;
  }
  .brand-text {
    display: none;
  }
}
