.navbar-menu {
  flex-direction: column !important;
}

.nabvar-nav--vertical {
  flex-direction: column !important;
}

.navbar-collapse {
  align-items: flex-end !important;
}

.logo {
  max-width: 100%;
}

.navbar {
  background: #f8f9fb;
  /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
}

.navbar a {
  text-transform: uppercase;
}

.navbar-brand {
  font-size: 2rem;
}

.navbar a:hover {
  transform: scale(1.05);
}

@media only screen and (max-width: 992px) {
  .navbar-menu {
    flex-direction: row !important;
  }
  .logo {
    max-width: 35px;
  }
}
