body { 
    background: url(/images/sound-colors.png) no-repeat center fixed;
    font-family: 'Lato', sans-serif;
    font-size: 1.05rem;
  }

h1 {
    font-size: 4rem;
    font-family: 'Playfair Display SC', serif;
    font-weight: 600;
}

h1 small {
    font-size: 1rem;
    font-family: 'Playfair Display', serif;
    font-weight: 500;
}

.navbar-brand {
    font-size: 1.35rem;
    font-family: 'Playfair Display SC', serif;
    font-weight: 600;
}

.bg-success {
    background-color: #a88ece71!important;
}

.btn-success {
    background-color: #a88ece71!important;
    color: black!important;
    border: none;
}

a {
    color:black!important;
}

footer {
    font-family: 'Playfair Display', serif;
}

.animate__animated.animate__fadeIn {
    animation-duration: 2.5s;
}

.animate__animated.animate__fadeInLeft {
    animation-duration: 2s;
    animation-delay: 0.4s;
}

.list-home .animate__animated.animate__fadeInLeft {
    animation-duration: 2s;
    animation-delay: 0.8s;
}

.list-home {
    list-style-type: none;
}

@media only screen and (max-width: 992px) {
    h1 {
        font-size: 3rem;
    }
    .list-home {
        font-size: 0.9rem;
    }
  }