body {
  background-color: #161a42;
  font-family: "Lato", sans-serif;
  min-height: 100vh;
  color: white !important;
}

h1 {
  font-size: 4rem;
}

h1 small {
  font-size: 1rem;
}

.navbar-brand {
  font-size: 1.5rem;
}

.bg-success {
  background-color: transparent !important;
}

.btn-success {
  background-color: #29317b !important;
  color: white !important;
  border: none;
}

a {
  color: white !important;
}

.navbar a:hover {
  transform: scale(1.05);
}

.btn:hover {
  transform: scale(1.03);
}

.animate__animated.animate__fadeIn {
  animation-duration: 2.5s;
}

.animate__animated.animate__fadeInLeft {
  animation-duration: 2s;
  animation-delay: 0.4s;
}

.list-home .animate__animated.animate__fadeInLeft {
  animation-duration: 2s;
  animation-delay: 0.8s;
}

.list-home {
  list-style-type: none;
}

@media only screen and (max-width: 992px) {
  h1 {
    font-size: 3rem;
  }
  .list-home {
    font-size: 0.9rem;
  }
  .image-first {
    order: -1;
    margin-bottom: 1rem;
    padding: 2.5rem;
  }
  #audio,
  #image {
    font-size: 0.8rem;
  }
  .home-warning {
    font-size: 0.9rem;
  }
}
