<% layout("layouts/boilerplate") %>
    <section class="m-auto">
        <h1 class="mb-5 text-center">Hola <%= userName %>!</h1>
        <h2 class="m-4 text-center">Cambiar mi contrase침a</h2>

        <form action="/modify" method="POST" novalidate class="validated-form">
            <!--Para non usar validador est치ndar e usar o de bootstrap. Require funci칩n js-->
            <div class="row g-2 mb-3">
                <label for="password" class="col-sm-6 col-form-label">Nueva contrase침a:</label>
                <div class="col-sm-6">
                    <input type="password" id="password" placeholder="**********" name="password" class="form-control"
                        required>
                </div>
            </div>

            <div class="d-flex align-items-center justify-content-evenly p-3">
                <button type="submit" class="btn btn-dark">Guardar</button>
                <button type="reset" class="btn btn-dark">Limpiar</button>
            </div>
        </form>

    </section>