<% layout("layouts/boilerplate") %>
<section class="row p-4 mw-100">
    <p class="text-center">NoNo audiología es sólo un proyecto de desarrollo web. El autor no se hace reponsable de la exactitud o veracidad de los datos de sonidos que contiene, 
        por lo que NO se deben usar como datos reales ningún concepto. Todos los derechos de las imágenes y audio corresponden a sus respectivos autores, según se indica en los créditos</p>
</section>

<section class="row mw-100">
    <div class= "col p-4 p-lg-5">
        <div class="card-header h4">Créditos de imágenes</div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item bg-transparent">pixabay.com</li>
            <li class="list-group-item bg-transparent">freepik.com</li>
            <li class="list-group-item bg-transparent">undraw.co</li>
        </ul>
    </div>

    <div class= "col p-4 p-lg-5"> 
        <div class="card-header h4">Créditos de audio</div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item bg-transparent">recursostic.educacion.es</li>
            <li class="list-group-item bg-transparent">Diego-rg</li>
            <li class="list-group-item bg-transparent">Damián</li>
        </ul>
    </div>

    <div class="col p-4 p-lg-5">
        <div class="card-header h4">Tecnologías</div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item bg-transparent">HTML/CSS/Javascript</li>
            <li class="list-group-item bg-transparent">Node/Express</li>
            <li class="list-group-item bg-transparent">EJS</li>
            <li class="list-group-item bg-transparent">Bootstrap</li>
            <li class="list-group-item bg-transparent">MongoDB</li>
        </ul>
    </div>

    <div class="col p-4 p-lg-5">
        <div class="card-header h4">Npm</div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item bg-transparent">Joi</li>
            <li class="list-group-item bg-transparent">Multer</li>
            <li class="list-group-item bg-transparent">Helmet</li>
            <li class="list-group-item bg-transparent">Passport</li>
            <li class="list-group-item bg-transparent">Mongoose</li>
        </ul>
    </div>
</section>

<section class="p-2 pt-lg-5">
    <div class="text-center">
        <div class="row">
            <h4>Contacto</h4>
        </div>
        <div class="row">
            <div class="col p-lg-4 py-4">
                <a href="mailto:diego_thegarden@hotmail.com"><img height="40" src="/images/email.svg" alt="Dibujo de un sobre que representa un email de contacto."></a>
            </div>
            <div class="col p-lg-4 py-4">
                <a href="https://github.com/diego-rg"><img height="40" src="/images/github.svg" alt="Logo de GitHub."></a>
            </div>
            <div class="col p-lg-4 py-4">
                <a href="https://es.linkedin.com"><img height="40" src="/images/linkedin.svg" alt="Logo de Linkedin."></a>
            </div>
            <div class="col p-lg-4 py-4">
                <a href="https://stackoverflow.com/users/14882708/diego-rg"><img height="40" src="/images/stackoverflow.svg" alt="Logo de Stackverflow."></a>
            </div>
        </div>
    </div>
</section>