<% layout("layouts/boilerplate") %>
<p class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia, blanditiis fuga. Quo ratione, et 
    adipisci nihil alias vero repellat iusto cum voluptatem quasi quaerat dolores numquam corporis placeat? Quasi, assumenda.</p>