<% layout("layouts/boilerplate") %>
<section class="row p-3 p-lg-5">
    <p class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia, blanditiis fuga. Quo ratione, et 
        adipisci nihil alias vero repellat iusto cum voluptatem quasi quaerat dolores numquam corporis placeat? Quasi, assumenda.</p>
</section>

<section class="row">
    <div class= "col p-3 p-lg-5">
        <div class="card-header h4">Créditos de imágenes</div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item bg-transparent">pixabay.com</li>
            <li class="list-group-item bg-transparent">freepik.com</li>
            <li class="list-group-item bg-transparent">undraw.co</li>
        </ul>
    </div>

    <div class= "col p-3 p-lg-5"> 
        <div class="card-header h4">Créditos de audio</div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item bg-transparent">recursostic.educacion.es</li>
            <li class="list-group-item bg-transparent">Diego-rg</li>
            <li class="list-group-item bg-transparent">Damián</li>
        </ul>
    </div>

    <div class="col p-3 p-lg-5">
        <div class="card-header h4">Tecnologías</div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item bg-transparent">HTML/CSS/Javascript</li>
            <li class="list-group-item bg-transparent">Node/Express</li>
            <li class="list-group-item bg-transparent">EJS</li>
            <li class="list-group-item bg-transparent">Bootstrap</li>
        </ul>
    </div>
</section>

<section class="p-2">
    <div class="text-center">
        <div class="row">
            <h3>Contacto</h3>
        </div>
        <div class="row">
            <div class="col p-lg-3 py-4">
                <a href="mailto:diego_thegarden@hotmail.com"><img height="30" src="/images/email.svg" alt="Dibujo de un sobre que representa un email de contacto."></a>
            </div>
            <div class="col p-lg-3 py-4">
                <a href="https://github.com/diego-rg"><img height="30" src="/images/github.svg" alt="Logo de GitHub."></a>
            </div>
            <div class="col p-lg-3 py-4">
                <a href="https://es.linkedin.com"><img height="30" src="/images/linkedin.svg" alt="Logo de Linkedin."></a>
            </div>
            <div class="col p-lg-3 py-4">
                <a href="https://stackoverflow.com/users/14882708/diego-rg"><img height="30" src="/images/stackoverflow.svg" alt="Logo de Stackverflow."></a>
            </div>
        </div>
    </div>
</section>