<% layout("layouts/boilerplate") %>
<div class="card m-auto" style="width: 18rem;">
    <div class="card-header">
        <%= categSounds %>
    </div>
    <ul class="list-group list-group-flush">
        <!--Loop para facer unha lista de enlaces aos sons nesa categoría-->
        <% for(let sound of sounds) { %>
            <li class="list-group-item"><a class="link-success" href="/sounds/categories/<%=categSounds%>/<%= sound._id %>"><%= sound.name %></a></li>
        <% }  %>
    </ul>
    <div class="card-footer">
        <a class="link-success" href="/sounds">Sonidos</a>
        <a class="link-success" href="/sounds/categories">Categorías</a>
        <a class="link-success" href="/sounds/new">Añadir</a>
    </div>
</div>