<% layout("layouts/boilerplate") %>
<h2 class="text-center mb-4">Categorías</h2> 
<div class="row row-cols-auto h-75 justify-content-center align-items-center">
  <div class="row row-cols-auto justify-content-center align-items-center">
    <!--Loop para ver cards de todas as categorías da DB-->
    <% for(let categ of categs) { %>
        <div class="col">
            <div class="card mb-3 text-center" style="width: 12rem">
            <img src="/images/<%= categ %>.jpg" class="card-img-top" alt="Foto de: <%= categ %>">
            <div class="card-body">
                <h5 class="card-title"><%= categ %></h5>
                <a href="/sounds/categories/<%= categ %>" class="btn btn-success">Ver</a>
            </div>
            </div>
        </div>
        <% }  %>
    </div>
</div>