<% layout("layouts/boilerplate") %>
<section class="m-auto">
    <h1 class="text-center">Categorías</h1>
    <ul>
        <% for(let categ of categs) { %>
            <li><a class="link-success" href="/sounds/<%= categ %>">
                <% function capitalizeFirstLetter(string) { %>
                <%    return string.charAt(0).toUpperCase() + string.slice(1); %>
                <%  } %>
                <%= capitalizeFirstLetter(categ) %>
            </a></li>
        <% }  %>
    </ul>
    <a class="link-success" href="/sounds">Todos</a>
    <a class="link-success" href="/sounds/new">Crear</a>
</section>