<% layout("layouts/boilerplate") %>
<div class="card m-auto" style="width: 18rem;">
    <div class="card-header">
        <%= soundCategory %>
    </div>
    <ul class="list-group list-group-flush">
        <!--Loop para facer unha lista de enlaces aos sons nesa categoría-->
        <% for(let sound of sounds) { %>
            <li class="list-group-item"><a class="link-success" href="/sounds/categories/<%=soundCategory%>/<%= sound._id %>"><%= sound.name %></a></li>
        <% }  %>
    </ul>
</div>