<% layout("layouts/boilerplate") %>
<div class="card m-auto" style="width: 18rem;">
    <div class="card-header">
        <% function capitalizeFirstLetter(string) { %>
        <%    return string.charAt(0).toUpperCase() + string.slice(1); %>
        <%  } %>
        <%= capitalizeFirstLetter(CategSounds) %>
    </div>
    <ul class="list-group list-group-flush">
        <% for(let sound of sounds) { %>
            <li class="list-group-item"><a class="link-success" href="/sounds/show/<%= sound._id %>"><%= sound.name %></a></li>
        <% }  %>
    </ul>
    <div class="card-footer">
        <a class="link-success" href="/sounds">Todos</a>
        <a class="link-success" href="/categories">Categorías</a>
    </div>
</div>