<% layout("layouts/boilerplate") %>
  <!--Title-->
  <div class="row text-center m-0 p-0">
    <div class="col col-dark col-lg-6 col-12 p-5 align-items-center justify-content-center d-flex flex-column">
      <h1>NoNo <small>audiología</small></h1>
      <p>Base de datos de sonidos cotidianos con información
        sobre su frencuencia e intensidad para facilitar la adaptación de ayudas auditivas.</p>
    </div>
    <div class="col col-light col-lg-6 col-12 p-5 align-items-center justify-content-center d-flex flex-column">
      <img src="/images/buscando.svg" class="h-50 m-auto" alt="Dibujo de una mujer buscando.">
      <p class="pt-4"><i class="bi bi-check"></i> Busca sonidos en nuestra base de datos o regístrate y créalos.</p>
    </div>
    <div class="col col-dark col-lg-6 col-12 p-5 align-items-center justify-content-center d-flex flex-column">
      <img src="/images/datos.svg" class="h-50 m-auto" alt="Dibujo de una persona mostrando datos.">
      <p class="pt-4"><i class="bi bi-check"></i> Consulta su frecuencia e intensidad y ajusta la adaptación.</p>
    </div>
    <div class="col col-light col-lg-6 col-12 p-5 align-items-center justify-content-center d-flex flex-column">
      <img src="/images/sonido-musica.svg" class="h-50 m-auto" alt="Dibujo de un personaje ficticio escuchando música.">
      <p class="pt-4"><i class="bi bi-check"></i> Comprueba el ajuste reproduciendo el sonido con el paciente.</p>
    </div>
  </div>