<% layout("layouts/boilerplate") %>
<div class="h-75">
    <h1 class="text-center mb-5 animate__animated animate__fadeIn">NoNo <small>audiología</small></h1>
<p class="text-center animate__animated animate__fadeInLeft">Base de datos de sonidos cotidianos con información sobre su frencuencia e intensidad para facilitar la adaptación de ayudas auditivas.</p>
</div>