<% layout("layouts/boilerplate") %>
<h1 class="text-center mb-5">NoNo <small>audiología</small></h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo unde fuga debitis illum consequatur deserunt facere nam voluptate 
    totam. Quasi, saepe qui? Soluta praesentium explicabo, ad blanditiis facilis itaque voluptatum!</p>