<% layout("layouts/boilerplate") %>
  <!--Title-->
  <div class="row">
    <div class="col">
      <h1 class="text-center mb-5 animate__animated animate__fadeIn">NoNo <small>audiología</small></h1>
      <p class="text-center mb-5 animate__animated animate__fadeIn">Base de datos de sonidos cotidianos con información
        sobre su frencuencia e intensidad para facilitar la adaptación de ayudas auditivas.</p>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <img src="/images/buscando.svg" class="d-block w-100" alt="Dibujo de una mujer buscando.">
      <p><i class="bi bi-check"></i> Busca sonidos en nuestra base de datos o regístrate y créalos.</p>
    </div>
    <div class="col">

    </div>
  </div>





  <!--Carousel-->
  <div id="carouselNoNo" class="carousel slide my-4" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="3000">

      </div>
      <div class="carousel-item" data-bs-interval="3000">
        <img src="/images/datos.svg" class="d-block w-100" alt="Dibujo de una persona mostrando datos.">
        <div class="carousel-caption text-white mt-4">
          <p><i class="bi bi-check"></i> Consulta su frecuencia e
            intensidad y ajusta la adaptación.</p>
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="3000">
        <img src="/images/sonido-musica.svg" class="d-block w-100"
          alt="Dibujo de un personaje ficticio escuchando música.">
        <div class="carousel-caption text-white mt-4">
          <p><i class="bi bi-check"></i> Comprueba el ajuste
            reproduciendo el sonido con el paciente.</p>
        </div>
      </div>
    </div>
  </div>